<a href="https://colab.research.google.com/github/Ted-star7/Data-Skill-Set/blob/main/Skillset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
products_path ='/content/drive/MyDrive/Dataset/Products 2024.csv'
sales_path = '/content/drive/MyDrive/Dataset/Sales 2024.csv'
sales_items_path = '/content/drive/MyDrive/Dataset/Sales Items 2024.csv'

In [24]:
import os

os.listdir('/content/drive/MyDrive/Dataset')

['Products 2024.csv', 'Sale Items 2024.csv', 'Sales 2024.csv']

In [25]:
products_path = '/content/drive/MyDrive/Dataset/Products 2024.csv'
sales_path = '/content/drive/MyDrive/Dataset/Sales 2024.csv'
sale_items_path = '/content/drive/MyDrive/Dataset/Sale Items 2024.csv'

In [26]:
products = pd.read_csv(products_path)
sales = pd.read_csv(sales_path)
sale_items = pd.read_csv(sale_items_path)

In [27]:
print("Products:", products.shape)
print("Sales:", sales.shape)
print("Sale Items:", sale_items.shape)

Products: (509, 6)
Sales: (3805, 8)
Sale Items: (8004, 8)

In [28]:
### Inspect Products Dataset
products.head()

,id,code,label,type,cost,price
0,112305,eastnat_foods_KE_95c8pkgsllbt,Diffusers,good,3400.00000,4900.0
1,112307,eastnat_foods_KE_9jwwy3seipoo,30 MIN PHONECALL,service,0.00000,1000.0
2,112308,eastnat_foods_KE_92gqiypatk5h,1 Hour Phonecall,service,0.00000,2000.0
3,112402,eastnat_foods_KE_w519xpnhm1wr,RAW HONEY,good,296.25000,550.0
4,112408,eastnat_foods_KE_xj4orewe776o,BLACLSTRAP MOLASSES BULK,good,71.66667,0.0

In [29]:
### Inspect Sales Dataset
sales.head()

,id,sale_ref,total_amount,amount_given,amount_paid,amount_due,discount,created_at
0,2753805,15741,1550.0,1550,1550,0.0,0.0,2024-01-02 09:52:22
1,2753964,15742,600.0,600,600,0.0,50.0,2024-01-02 10:33:50
2,2754084,15743,799.0,799,799,0.0,151.0,2024-01-02 11:01:52
3,2754095,15744,389.0,389,389,0.0,111.0,2024-01-02 11:03:04
4,2754133,15745,1778.0,1778,1778,0.0,272.0,2024-01-02 11:09:18

In [30]:
### Inspect Sale_Items Dataset
sale_items.head()

,id,sale_id,product_code,price,discount,total,unit_cost,created_at
0,5599181,2753805,eastnat_foods_KE_cgbr0c1ucs9k,850,0,850.0,500.000000,2024-01-02 09:52:22
1,5599182,2753805,eastnat_foods_KE_a5kq9ke6gc89,700,0,700.0,355.000000,2024-01-02 09:52:22
2,5599542,2753964,eastnat_foods_KE_txxbavvyjqq8,650,0,650.0,244.283600,2024-01-02 10:33:50
3,5599769,2754084,eastnat_foods_KE_5z10tyo2vxbk,950,0,950.0,64.880525,2024-01-02 11:01:52
4,5599792,2754095,eastnat_foods_KE_qlycxmvhtpox,500,111,500.0,113.700000,2024-01-02 11:03:04

In [31]:
import pandas as pd
products_path = '/content/drive/MyDrive/Dataset/Products 2024.csv'
products = pd.read_csv(products_path)

### Inspect Products Info
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      509 non-null    int64
 1   code    509 non-null    object
 2   label   509 non-null    object
 3   type    509 non-null    object
 4   cost    509 non-null    float64
 5   price   412 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 24.0+ KB

In [32]:
### Inspect Sales Info
sales_path = '/content/drive/MyDrive/Dataset/Sales 2024.csv'
sales = pd.read_csv(sales_path)
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3805 entries, 0 to 3804
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3805 non-null   int64
 1   sale_ref      3805 non-null   int64
 2   total_amount  3805 non-null   float64
 3   amount_given  3805 non-null   int64
 4   amount_paid   3805 non-null   int64
 5   amount_due    3805 non-null   float64
 6   discount      3805 non-null   float64
 7   created_at    3805 non-null   object
dtypes: float64(3), int64(4), object(1)
memory usage: 237.9+ KB

In [33]:
### Sale Items Info
sale_items_path = '/content/drive/MyDrive/Dataset/Sale Items 2024.csv'
sale_items = pd.read_csv(sale_items_path)
sale_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8004 entries, 0 to 8003
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8004 non-null   int64
 1   sale_id       8004 non-null   int64
 2   product_code  8004 non-null   object
 3   price         8004 non-null   object
 4   discount      8004 non-null   int64
 5   total         8004 non-null   float64
 6   unit_cost     7507 non-null   float64
 7   created_at    8004 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 500.4+ KB

In [34]:
## Checking null values for Products
dfis = pd.isnull(products)
dfis.head()

      id   code  label   type   cost  price
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False

In [35]:
### Checking null values for Sales

dfis = pd.isnull(sales)
dfis.head()

,id,sale_ref,total_amount,amount_given,amount_paid,amount_due,discount,created_at
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [37]:
### Checking null data for Sale_Items

dfis = pd.isnull(sale_items)
dfis.head()

      id  sale_id  product_code  price  discount  total  unit_cost  created_at
0  False    False         False  False     False  False      False       False
1  False    False         False  False     False  False      False       False
2  False    False         False  False     False  False      False       False
3  False    False         False  False     False  False      False       False
4  False    False         False  False     False  False      False       False

In [40]:
products.describe()

                  id           cost          price
count     509.000000     509.000000     412.000000
mean   399101.406680    1084.453364    1716.882039
std    178417.379138    7042.456565   14081.910440
min    112305.000000       0.000000       0.000000
25%    146278.000000      53.360000     100.000000
50%    521854.000000     211.700000     585.000000
75%    521981.000000     560.000000    1100.000000
max    551145.000000  120000.000000  285000.000000

In [41]:
sales.describe()

,id,sale_ref,total_amount,amount_given,amount_paid,amount_due,discount
count,3.805000e+03,3805.000000,3.805000e+03,3805.000000,3805.000000,3.805000e+03,3805.000000
mean,3.309849e+06,17644.042050,5.759906e+03,1895.324047,1876.249671,4.221376e+03,82.727243
std,3.724749e+05,1099.140355,4.364549e+04,1931.167380,1921.592929,4.535634e+04,275.462833
min,2.753805e+06,15741.000000,-4.788414e+03,0.000000,0.000000,0.000000e+00,0.000000
25%,2.973864e+06,16693.000000,8.500000e+02,750.000000,749.000000,0.000000e+00,0.000000
50%,3.270124e+06,17644.000000,1.450000e+03,1300.000000,1300.000000,0.000000e+00,0.000000
75%,3.601404e+06,18595.000000,2.696000e+03,2500.000000,2500.000000,0.000000e+00,0.000000
max,4.994429e+06,20245.000000,1.090394e+06,28700.000000,28700.000000,1.090394e+06,9100.000000

In [42]:
sale_items.describe()

                 id       sale_id     discount          total    unit_cost
count  8.004000e+03  8.004000e+03  8004.000000    8004.000000  7507.000000
mean   6.734594e+06  3.319162e+06     5.754498    2636.297948   335.939563
std    7.565321e+05  3.817855e+05    51.852081   25589.949858   608.724199
min    5.599181e+06  2.753805e+06     0.000000       0.000000     0.000000
25%    6.046100e+06  2.973675e+06     0.000000     500.000000    88.237435
50%    6.654616e+06  3.272252e+06     0.000000     800.000000   165.300000
75%    7.404870e+06  3.672413e+06     0.000000     950.000000   313.000000
max    1.025528e+07  4.994429e+06  1200.000000  991584.000000  7000.000000

In [43]:
products.duplicated().sum()

np.int64(0)

In [44]:
sales.duplicated().sum()

np.int64(0)

In [45]:
sale_items.duplicated().sum()

np.int64(0)