<a href="https://colab.research.google.com/github/Ted-star7/Data-Skill-Set/blob/main/Skillset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
products_path ='/content/drive/MyDrive/Dataset/Products 2024.csv'
sales_path = '/content/drive/MyDrive/Dataset/Sales 2024.csv'
sales_items_path = '/content/drive/MyDrive/Dataset/Sales Items 2024.csv'

In [12]:
import os

os.listdir('/content/drive/MyDrive/Dataset')

['Products 2024.csv', 'Sale Items 2024.csv', 'Sales 2024.csv']

In [13]:
products_path = '/content/drive/MyDrive/Dataset/Products 2024.csv'
sales_path = '/content/drive/MyDrive/Dataset/Sales 2024.csv'
sale_items_path = '/content/drive/MyDrive/Dataset/Sale Items 2024.csv'

In [14]:
products = pd.read_csv(products_path)
sales = pd.read_csv(sales_path)
sale_items = pd.read_csv(sale_items_path)

In [16]:
print("Products:", products.shape)
print("Sales:", sales.shape)
print("Sale Items:", sale_items.shape)

Products: (509, 6)
Sales: (3805, 8)
Sale Items: (8004, 8)

In [21]:
### Inspect Products Dataset
products.head()

,id,code,label,type,cost,price
0,112305,eastnat_foods_KE_95c8pkgsllbt,Diffusers,good,3400.00000,4900.0
1,112307,eastnat_foods_KE_9jwwy3seipoo,30 MIN PHONECALL,service,0.00000,1000.0
2,112308,eastnat_foods_KE_92gqiypatk5h,1 Hour Phonecall,service,0.00000,2000.0
3,112402,eastnat_foods_KE_w519xpnhm1wr,RAW HONEY,good,296.25000,550.0
4,112408,eastnat_foods_KE_xj4orewe776o,BLACLSTRAP MOLASSES BULK,good,71.66667,0.0

In [19]:
### Inspect Sales Dataset
sales.head()

,id,sale_ref,total_amount,amount_given,amount_paid,amount_due,discount,created_at
0,2753805,15741,1550.0,1550,1550,0.0,0.0,2024-01-02 09:52:22
1,2753964,15742,600.0,600,600,0.0,50.0,2024-01-02 10:33:50
2,2754084,15743,799.0,799,799,0.0,151.0,2024-01-02 11:01:52
3,2754095,15744,389.0,389,389,0.0,111.0,2024-01-02 11:03:04
4,2754133,15745,1778.0,1778,1778,0.0,272.0,2024-01-02 11:09:18

In [20]:
### Inspect Sale_Items Dataset
sale_items.head()

,id,sale_id,product_code,price,discount,total,unit_cost,created_at
0,5599181,2753805,eastnat_foods_KE_cgbr0c1ucs9k,850,0,850.0,500.000000,2024-01-02 09:52:22
1,5599182,2753805,eastnat_foods_KE_a5kq9ke6gc89,700,0,700.0,355.000000,2024-01-02 09:52:22
2,5599542,2753964,eastnat_foods_KE_txxbavvyjqq8,650,0,650.0,244.283600,2024-01-02 10:33:50
3,5599769,2754084,eastnat_foods_KE_5z10tyo2vxbk,950,0,950.0,64.880525,2024-01-02 11:01:52
4,5599792,2754095,eastnat_foods_KE_qlycxmvhtpox,500,111,500.0,113.700000,2024-01-02 11:03:04